/* General Styles */
html {
    overflow: hidden;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    color: var(--text);
    font-family: "Space Grotesk", "Wix MadeFor Display", "Noto Sans SC", "Rubik", sans-serif;
    font-size: 20px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

/* Color Schemes */
.dark {
    --bg1: black;
    --bg2: #191919;
    --bg3: #292929;
    --text: white;
    --textf: #ffffff8a;
}

.nord {
    --bg1: #2e3440;
    --bg2: #3b4252;
    --bg3: #434c5e;
    --text: #eceff4;
    --textf: #eceff48a;
}

.sepia {
    --bg1: #eadbcb;
    --bg2: #dcc1a7;
    --bg3: #e3ceb9;
    --text: black;
    --textf: #0000008a;
}

.light {
    --bg1: #eceff4;
    --bg3: #d8dee9;
    --bg2: #e5e9f0;
    --text: black;
    --textf: #0000008a;
}

/* Sticky Header */
.sticky {
    background-color: var(--bg1);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    cursor: default;
}

/* Language Selector */
.dropdown {
    position: fixed;
    display: inline-block;
    left: 2vw;
    top: 2vh;
}

.greeting {
    padding: 5px;
    border-radius: 5px;
}

.content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: #ffffff19;
    padding: 10px;
    border-radius: 5px;
}

.d {margin-left: 0.5vw;}

.dropdown:hover .content {display: block;}

.dropdown:hover .greeting,
.content a:hover {text-decoration: underline;}

.toggle, .scroll, .content {font-size: 15px;}

/* Theme Toggle */
.toggle {
    margin-right: 2vw;
    top: 2vh;
    position: fixed;
    right: 0;
    min-height: 36px;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* First Section */
.first {
    background-color: var(--bg1);
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    scroll-snap-align: start;
}

.intro {
    margin-left: 2%;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    text-align: start;
    color: var(--textf);
    z-index: 1;
}

.intro span {color: var(--text);}

.links {
    top: 50%;
    transform: translateY(-50%);
    margin-right: 2%;
    right: 0;
    position: absolute;
    text-align: end;
}

.link {
    color: var(--text);
    text-decoration: none;
}

.link:hover {text-decoration: underline;}

.scroll {
    position: absolute;
    margin-bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    text-align: center;
}

/* Second Section */
.twob {
    background-color: var(--bg1);
    scroll-snap-align: start;
}

.second {
    background-color: var(--bg2);
    height: 100vh;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.element {
    background-color: var(--bg3);
    border-radius: 20px;
    position: absolute;
}

.left {
    width: 48.5vw;
    left: 0;
    margin-left: 1vw;
    height: 98%;
    top: 1vh;
}

.upright {
    width: 48.5vw;
    right: 0;
    margin-right: 1vw;
    height: 48.5%;
    top: 1vh;
}

.downright {
    width: 48.5vw;
    right: 0;
    margin-right: 1vw;
    height: 48.5%;
    bottom: 1vh;
}

.title {
    right: 0;
    margin-right: 1vw;
    bottom: 0;
    margin-bottom: 1vh;
    position: absolute;
    text-decoration: none;
}

.second a:hover .title {text-decoration: underline;}

@media screen
  and (max-device-width: 765px)
  and (orientation: portrait){

    body {
        position: fixed;
        overflow-y: scroll;
    }
    
    .element {
        width: 98vw;
        height: 32%;
        margin-left: 1vw;
    }
    
    .left {
        top: 34%;
        position: absolute;
        
    }

    .first, .second {height: 95vh;}

    .content {display: block;}

    body {font-size: x-large;}
    .content, .toggle, .scroll {font-size: large;}
}